body {
  font-family: Arial;
  margin: 0;
  text-align: center;
  background: #f8f8f8;
}

header {
  background: black;
  color: white;
  padding: 20px;
}

.menu {
  padding: 20px;
}

.item {
  background: white;
  margin: 20px auto;
  padding: 15px;
  width: 250px;
  border-radius: 10px;
}

.item img {
  width: 100%;
  border-radius: 10px;
}

button {
  background: orange;
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
}
